/* line 1, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
#description_and_comments {
  flex-grow: 1;
  margin-left: 8%;
  margin-right: 40px;
  margin-top: 20px;
  display: inline-block;
}

/* line 9, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
.comment_item .profile_thumbnail {
  display: inline-block;
}

/* line 12, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
.comment_body_and_info {
  margin-left: 20px;
  display: inline-block;
}

/* line 16, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
.comment_item {
  display: flex;
  margin-top: 10px;
}

/* line 23, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
#commentForm {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;
}

/* line 30, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
#commentForm input {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

/* line 36, /home/adan/SoundShroud/app/assets/stylesheets/_comments.scss */
.comment_body {
  width: 100%;
  word-break: break-all;
}
/* line 2, /home/adan/SoundShroud/app/assets/stylesheets/_landing.scss */
.landing_info {
  font-size: 2vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeFromTransparent;
  animation-duration: 3s;
  position: absolute;
  left: 16%;
  top: 22%;
  width: 45%;
}

/* line 16, /home/adan/SoundShroud/app/assets/stylesheets/_landing.scss */
.landing_info h1 {
  font-size: 5vw;
}

/* line 20, /home/adan/SoundShroud/app/assets/stylesheets/_landing.scss */
#landing_button {
  width: 73%;
  border-radius: 8px;
  text-align: center;
  margin-top: 4vw;
  height: 5vw;
  padding-top: 1.5vw;
  font-size: 2vw;
}

/* line 30, /home/adan/SoundShroud/app/assets/stylesheets/_landing.scss */
.landing_page_content .image-gradient-overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #191919);
}
/* line 2, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
.audio-progress {
  z-index: 1000;
  box-shadow: 0 0 16vh 8vh #000000a8;
}

/* line 6, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-controls-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-color: #273233;
  border-top: 1px solid black;
}

/* line 15, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-controls-content .controls {
  flex-shrink: 0;
  padding: 20px;
}

/* line 19, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-controls-content .controls > div {
  display: inline-block;
  width: 45px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

/* line 26, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-controls-content .controls > div > svg {
  position: absolute;
  bottom: -17px;
}

/* line 31, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-controls-content .controls > div > svg:hover {
  width: 48px;
  cursor: pointer;
}

/* line 35, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-progress {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 41, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-seek-container {
  flex-grow: 1;
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

/* line 51, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-seek-container.active:hover {
  cursor: pointer;
}

/* line 54, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-duration, #audio-current-time {
  color: #3f3f3f;
  width: 20px;
  flex-shrink: 0;
}

/* line 60, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-current-time.active {
  color: #0c70ae;
}

/* line 63, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-duration.active {
  color: white;
}

/* line 70, /home/adan/SoundShroud/app/assets/stylesheets/_playback.scss */
#audio-seek-canvas {
  width: 100%;
  height: 4px;
  border-top: 1px solid #191919;
}
/* line 1, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track-form-content {
  width: 100%;
  height: 100%;
  margin-top: 11%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 11, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 17, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form .blue_button {
  width: 100%;
  height: 40px;
}

/* line 22, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form > div {
  padding: 10px;
  width: 80%;
}

/* line 26, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form input[type="text"],
.track_form textarea {
  width: 100%;
}

/* line 30, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form input[type="text"] {
  font-size: 22px;
}

/* line 33, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form textarea {
  font-size: 14px;
}

/* line 36, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}

/* line 41, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form textarea {
  height: 145px;
}

/* line 44, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.track_form .file-input-container > div {
  width: 100%;
}

/* line 47, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.floater2 {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  position: relative;
}

/* line 55, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.image-input-container {
  display: inline-block;
  position: relative;
  margin-right: 40px;
}

/* line 60, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
.image-input-container button {
  position: absolute;
  bottom: 6%;
  right: 32%;
}

/* line 65, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
#track-upload-select-container {
  display: relative;
}

/* line 68, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
#track-upload-select {
  height: 40px;
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

/* line 79, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
#track-upload-select:active {
  left: 5px;
  top: 5px;
  box-shadow: none;
}

/* line 84, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
#track-upload-select:hover {
  cursor: pointer;
}

/* line 87, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
#track-upload-select {
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* line 96, /home/adan/SoundShroud/app/assets/stylesheets/_track form.scss */
#track-upload-select img {
  width: 80px;
  height: 80px;
}
/* line 1, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item {
  display: flex;
  margin-left: 3vw;
  margin-bottom: 40px;
  max-width: 900px;
  max-height: 20vw;
}

/* line 8, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item .play-button-and-info {
  display: flex;
}

/* line 11, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item .info {
  display: flex;
  flex-direction: column;
}

/* line 15, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item img:first-of-type:hover {
  cursor: pointer;
}

/* line 18, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item a {
  width: 0;
  white-space: nowrap;
}

/* line 22, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item .title-link {
  font-size: 18px;
  color: #c8c8c8;
  text-decoration: none;
}

/* line 28, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item-cover-art-container {
  flex-grow: 0.8;
  position: relative;
  max-width: 180px;
  height: fit-content;
}

/* line 34, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item-cover-art-padding-fix {
  padding-top: 100%;
  height: 0;
}

/* line 38, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item img.medium {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 45, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item .title-link:hover {
  font-size: 20px;
  color: white;
}

/* line 50, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.track-item .info {
  margin-left: 10px;
}

/* line 54, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.play-info-and-waveform {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  width: 12vw;
  background-color: #232323;
  box-shadow: 0 0 21px 8px #232323;
}

/* line 65, /home/adan/SoundShroud/app/assets/stylesheets/_track item.scss */
.waveform-canvas {
  max-width: 600px;
  max-height: 50%;
}
/* line 1, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#show_page_waveform_container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

/* line 8, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#show_page_waveform_container canvas {
  max-width: 500px;
}

/* line 11, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_banner_left_side {
  margin-top: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* line 17, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_banner_right_side {
  display: flex;
}

/* line 20, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_banner_right_side .image-input-container {
  margin-right: 0;
}

/* line 23, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.artist_and_play_button {
  display: flex;
}

/* line 26, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.document-play-button {
  width: 100px;
  height: 100px;
}

/* line 30, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#artist_and_comments {
  display: flex;
}

/* line 33, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#artist_and_comments > div:first-child {
  flex-grow: 0;
  flex-shrink: 0;
}

/* line 37, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.waveform {
  max-width: 950px;
  min-width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 45, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.track_show_content .rule {
  margin-left: 40px;
  margin-right: 40px;
  height: 2px;
  background-color: #0f0f0f;
  border-top: 2px solid #232323;
}

/* line 52, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.banner-info-text {
  white-space: nowrap;
}

/* line 55, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_banner_left_side .banner-info-text:last-of-type {
  font-size: 24px;
}

/* line 58, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.song_show_artist_info {
  text-align: center;
  font-size: 14px;
  width: 150px;
  height: 200px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: inline-block;
  float: left;
}

/* line 69, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.song_show_artist_info img {
  width: 150px;
  height: 150px;
}

/* line 73, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
.song_show_artist_info img:hover {
  cursor: pointer;
}

/* line 77, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_show_options {
  margin-left: 20px;
  margin-right: -20px;
}

/* line 81, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_show_options li {
  padding: 5px;
}

/* line 84, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_show_options a,
#track_show_options button {
  width: 100%;
}

/* line 88, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_show_lower_half {
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* line 96, /home/adan/SoundShroud/app/assets/stylesheets/_track show.scss */
#track_description {
  word-break: break-all;
  display: inline-block;
}
/* line 1, /home/adan/SoundShroud/app/assets/stylesheets/_user show.scss */
.user-show .banner-info-text:first-of-type {
  font-size: 24px;
}

/* line 4, /home/adan/SoundShroud/app/assets/stylesheets/_user show.scss */
.user-show {
  margin: 35px;
  background-color: rgba(100, 100, 100, 0.05);
}

/* line 8, /home/adan/SoundShroud/app/assets/stylesheets/_user show.scss */
.user-show img:first-of-type {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

/* line 14, /home/adan/SoundShroud/app/assets/stylesheets/_user show.scss */
.user-show .image-input-container {
  height: 25vw;
  width: 25vw;
  max-height: 200px;
  max-width: 200px;
}

/* line 22, /home/adan/SoundShroud/app/assets/stylesheets/_user show.scss */
img .user-show-medium:hover {
  cursor: pointer;
}
/* line 5, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#root {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 12, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.hidden {
  display: none;
}

/* line 15, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.app {
  width: 100%;
  height: 100%;
}

/* line 19, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.discover-page {
  width: 100%;
}

/* line 22, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.tracks-index {
  width: 75%;
}

/* line 25, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
body > svg {
  width: 0px;
  height: 0px;
}

/* line 29, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.floater1 {
  animation-name: fadeFromTransparent;
  animation-duration: 1.2s;
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 37, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.cover-art {
  border: 1px solid black;
  box-shadow: 2vw 2vw 5vw black;
}

/* line 42, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
h1 {
  font-size: 65px;
  text-align: center;
}

/* line 46, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
h2 {
  font-size: 45px;
  text-align: center;
}

/* line 50, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 58, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.static_img_page {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 63, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.static_img_page > img {
  overflow-x: hidden;
  width: 100%;
  filter: url(#blue_filter);
}

/* line 68, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.blue_button, .logout_button {
  white-space: nowrap;
  color: white;
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  text-align: center;
  animation-name: fadeFromTransparent;
  border-radius: 6px;
  background-color: #35617b;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  text-decoration: none;
}

/* line 90, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.blue_button:hover {
  background-color: #2d7387;
  cursor: pointer;
}

/* line 94, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.blue_button:active
.logout_button:active {
  background-color: #35617b;
  border-top: 1px solid #0a0a0a;
  border-left: 1px solid #1e2828;
  border-right: 1px solid #1e2828;
  border-bottom: 1px solid #2d2d2d;
}

/* line 103, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.logout_button:hover {
  cursor: pointer;
  background-color: #47a4b4;
}

/* line 107, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.logout_button {
  background-color: #4b8aaf;
  font-size: 20px;
}

/* line 112, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.play_bar {
  flex-shrink: 0;
  background-color: #737577;
  height: 100px;
}

/* line 117, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
img.large {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  flex-grow: 0;
}

/* line 123, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
img.medium {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  flex-grow: 0;
}

/* line 129, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
img.medium-large {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  flex-grow: 0;
}

/* line 136, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.profile_thumbnail {
  width: 50px;
  height: 50px;
}

/* line 140, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.profile_thumbnail:hover {
  cursor: pointer;
}

/* line 143, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.username-link {
  text-decoration: none;
  color: #858585;
  font-size: 14px;
}

/* line 148, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.username-link:hover {
  color: white;
  cursor: pointer;
}

/* line 152, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 156, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.app {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  background-color: #191919;
  color: white;
  max-width: 1500px;
}

/* line 166, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.nav_bar {
  flex-wrap: wrap;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #556669;
  min-height: 50px;
  border-bottom: 1px solid black;
}

/* line 176, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.nav_link_set {
  display: flex;
  align-items: stretch;
}

/* line 181, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.nav_link_set * {
  margin-right: 10px;
}

/* line 185, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.top_nav_link {
  line-height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  height: 100%;
  text-align: center;
  width: 80px;
  text-decoration: none;
  color: #0B0B0C;
}

/* line 195, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.top_nav_link:hover {
  background-color: white;
  cursor: pointer;
}

/* line 200, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.top_nav_link.active {
  background-color: #F0F0F1;
  cursor: default;
}

/* line 205, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.modal-hidden {
  display: flex;
  flex-direction: column;
  height: 1vh;
  flex-grow: 1;
}

/* line 211, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(200, 200, 200, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 223, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.auth-modal {
  position: relative;
  background-color: white;
}

/* line 227, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.auth-modal-exit {
  position: relative;
  left: 90%;
  width: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

/* line 234, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.auth-modal-exit:hover {
  cursor: pointer;
}

/* line 237, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.main_content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeFromTransparent {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: default;
  }
  from {
    color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    color: default;
    border-left-color: default;
    border-right-color: default;
    border-top-color: default;
    border-bottom-color: default;
    background-color: default;
  }
}
/* line 264, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 270, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
form > div {
  position: relative;
}

/* line 276, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.red_button {
  background-color: red;
  box-sizing: border-box;
  outline: none;
  animation-name: fadeFromTransparent;
  border-radius: 6px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  text-decoration: none;
}

/* line 295, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
form input[type="text"],
form input[type="password"],
form textarea {
  outline: none;
  animation-name: fadeFromTransparent;
  animation-duration: 3s;
  border-radius: 4px;
  background-color: rgba(40, 40, 40, 0.7);
  border-top: 2px solid #0a0a0a;
  border-left: 3px solid #1e2828;
  border-right: 3px solid #1e2828;
  border-bottom: 3px solid #2d2d2d;
  color: #d5d7d9;
}

/* line 309, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
form input[type="text"],
form input[type="password"] {
  height: 40px;
}

/* line 314, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
input.empty {
  color: #8c8c8c;
}

/* line 318, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
form input[type="text"]:focus,
form input[type="password"]:focus,
form textarea:focus {
  background-color: #212121;
  outline: none;
}

/* line 325, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.errors {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 100%;
}

/* line 332, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.errors > div {
  background-color: #9b000e;
  color: white;
  padding: 10px;
  font-size: 12px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  width: 120px;
}

/* line 341, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.errors > svg {
  flex-shrink: 0;
  display: inline-block;
  fill: #9b000e;
}

/* line 346, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.session_submit_buttons {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

/* line 355, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.track_show_content {
  width: 100%;
}

/* line 358, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.user-show-content {
  width: 100%;
}

/* line 361, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.banner {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

/* line 368, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.banner > div {
  margin-right: 35px;
}

/* line 371, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.banner > div > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

/* line 375, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.banner-info-text {
  margin: 20px;
}

/* line 378, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.banner-info-text > a {
  padding: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.85);
}

/* line 384, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.upload_error {
  color: red;
}

/* line 388, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#upload_progress {
  align-items: center;
  background-color: #3f3f3f;
  padding: 5px;
  display: flex;
  height: 35px;
  flex-shrink: 0;
  justify-content: space-around;
}

/* line 397, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.document-play-button:hover {
  cursor: pointer;
}

/* line 400, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.document-play-button.large {
  width: 100px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

/* line 406, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.document-play-button.small {
  width: 50px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

/* line 412, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
.document-play-button img {
  width: 100%;
  height: 100%;
}

/* line 416, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#upload_progress > div:first-child {
  width: 200px;
  font-size: 12px;
}

/* line 421, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#upload_progress > div:first-child > a {
  margin-right: 15px;
}

/* line 425, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#upload_progress button {
  padding: 2px;
  width: 28px;
  height: 20px;
  font-size: 10px;
}

/* line 432, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#progress_bar {
  width: 300px;
  height: 4px;
}

/* line 437, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
#upload_progress > div:last-child {
  width: 200px;
}

/* line 441, /home/adan/SoundShroud/app/assets/stylesheets/root.scss */
textarea {
  resize: none;
}
/* line 5, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* line 14, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-and-title {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 300px;
}

/* line 22, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#sesison-form-and-title > * {
  margin: 40px;
}

/* line 25, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-content h1 {
  font-size: 44px;
}

/* line 29, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* line 36, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-container > form {
  font-size: 3vh;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 14.3%;
  margin: 0;
  border: 1px solid white;
  box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.3);
}

/* line 49, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-container > form > div {
  margin-bottom: 20%;
  height: 20%;
  margin-left: 0;
  margin-right: 0;
}

/* line 56, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-container > form > div:last-of-type {
  margin-bottom: 0;
}

/* line 60, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
#session-form-container form input {
  width: 100%;
  height: 100%;
}

/* line 65, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
.session_submit_buttons > input {
  flex-grow: 1;
}

/* line 69, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
.session_submit_buttons > input:first-of-type {
  margin-right: 20%;
}

/* line 72, /home/adan/SoundShroud/app/assets/stylesheets/session.scss */
.session_submit_buttons > input:last-of-type {
  margin-left: 0;
  margin-right: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

