$iron : #d5d7d9;
$outer_space : #333638;
$alabaster: #F9F9F9;
$athens-grey: #F0F0F1;
$woodsmoke: #0B0B0C;
$azure_radiance: #0087FE;
$east-bae: #3a4f73;
$cod-grey: #191919;
$mine-shaft: #212121;
$coral-red: #FD4041;
$ship-grey: #434347;
$ming: #35617b;
$bahama-blue: #096caa;
$calypso: #2d7387;
$invisible-black: rgba(0,0,0,0);
$false-ming: #4b8aaf;
$false-calypso: #47a4b4;
$shadow-color-1: rgba(255,255,255,0.3);
