@import "colors";
.landing_info{

}

.landing_info h1{
  font-size: 5vw;
}

#landing_button{
  width: 22vw;
  border-radius: 8px;
  text-align: center;
  margin-top: 4vw;
    height: 5vw;
    padding-top: 1.5vw;
    font-size: 2vw;
}
.landing_page_content{
  text-align: center;
  height: 50vh;
}
