@import "colors";
.nav_bar {
    flex-wrap: wrap;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #556669;
    min-height: 50px;
    border-bottom: 1px solid black;
  }
  .nav_link_set{
    display: flex;
    align-items: stretch;
  }
  
  .nav_link_set *{
    margin-right: 10px;
  }
  
  .top_nav_link{
    line-height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    height: 100%;
    text-align: center;
    width: 80px;
    text-decoration: none;
    color: $woodsmoke;
  }
  
  .top_nav_link:hover{
    background-color: white;
  
    cursor: pointer;
  }
  .top_nav_link.active{
    background-color: $athens-grey;
    cursor: default;
  }
  .nav_bar .drop-down-menu{
    position: relative;
    width: 80px;
    padding-top: 20px;
  }

  .nav_bar .drop-down-menu ul{
    position: absolute;
    top: 100%;
    z-index: 1100;
    background-color: #72888b;
    margin: 0;
  }

  .nav_bar .drop-down-menu li:hover{
    cursor:pointer;
    background-color: #556669;
  }
  .nav_bar .drop-down-menu ul a,
  .nav_bar .drop-down-menu ul div{
    text-decoration: none;
    color: white;
  }
