@import "colors";
.nav_bar_container{
  flex-shrink: 0;
  z-index: 1000;
  box-shadow: 0 2px 1vh 0 #000000;
}
.nav_bar {
  flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #c2cdd2;
    min-height: 50px;
    box-shadow: inset 0px 4px 4px 0px #ffffff8c;
  }
  .nav_link_set{
    display: flex;
    align-items: stretch;
  }
  
  .nav_link_set > *{
    margin-right: 10px;
  }
  
  .top_nav_link{
    line-height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    height: 100%;
    text-align: center;
    width: 80px;
    text-decoration: none;
    color:  #252525;
  }
  
  .top_nav_link:hover,
  .nav_bar .drop-down-menu:hover{
    color: black;
    cursor: pointer;
  }
  .top_nav_link.active,
  .nav_bar .drop-down-menu:active,
  .nav_bar .drop-down-menu.active{
    background-color: white;
    color: black;
  }
  .nav_bar .drop-down-menu{
    color:  #252525;
    position: relative;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
  .nav_bar .drop-down-menu > img{
    margin-left: 5px;
  }
  .nav_bar .drop-down-menu > a{
    margin: 5px;
  }
  .nav_bar .drop-down-menu ul{
    position: absolute;
    top: 100%;
    z-index: 1100;
    width: 100%;
    background-color: white;
    margin: 0;
  }

  .nav_bar .drop-down-menu li:hover{
    cursor:pointer;
    background-color: #c2cdd2;
  }
  .nav_bar .drop-down-menu ul a,
  .nav_bar .drop-down-menu ul div{
    display: block;
    text-decoration: none;
    color: black;
  }
  .search-bar{
    flex-grow: 1;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  .search-bar .search-text{
    width: 100%;
    height: 57%;
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 25px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .search-bar button{
    position: absolute;
    right: 0;
    bottom: 13px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: rgb(196, 196, 196);
    outline: none;
  }
  .search-bar button:focus{
    outline: none;
  }
  .search-bar button:hover{
    cursor: pointer;
  }
