.recommendations{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 5px;
    position: sticky;
    top: 20px;
    z-index: 1000;
}
.recommendations .username-link{
    color: #dadada;
}
.recommendations .username-link:hover{
    color: white;
}
.recommendations ul{
    margin-top: 5px;
}
.recommendation-heading{
    color: #858585;
    margin-top: 0;
    margin-bottom: 15px;
}

.user-recommendation-item a{
    vertical-align: top;
    margin-left: 5px;
}
.user-recommendation-item img:hover{
    cursor: pointer;
}
.recommendations i{
    margin-right: 5px;
}