.search-page{
    width: 100%;
}
.search-page .search-result-list{
    margin-left: 3vw;
    width: 90%;
}
.search-page h3{
    margin-left: 3vw;
}
.search-page .track-item,
.search-page .user-item{
    margin-bottom: 62px;
}
