#show_page_waveform_container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
#show_page_waveform_container canvas{
  max-width: 500px;
}
#track_banner_left_side{
  margin-top: 40px;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
}
#track_banner_right_side{
  display: flex;
}
#track_banner_right_side .image-input-container{
  margin-right: 0;
}
.track_show_content .waveform-canvas{
  width: 100%;
}
.artist_and_play_button{
  display: flex;
}
.document-play-button{
  width: 100px;
  height: 100px;
}
#artist_and_comments{
  display: flex;
}
#artist_and_comments > div:first-child{
  flex-grow: 0;
  flex-shrink: 0;
}
.waveform{
  max-width: 950px;
  min-width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.3);
}
.track_show_content .rule{
  margin-left: 40px;
  margin-right: 40px;
  height: 2px;
  background-color: rgb(15,15,15);
  border-top: 2px solid rgb(35,35,35);
}
.banner-info-text{
  white-space: nowrap;
}
#track_banner_left_side .banner-info-text:last-of-type{
  font-size: 24px;
}
.song_show_artist_info{
  text-align: center;
  font-size: 14px;
  width: 150px;
  height: 200px;
  margin: 20px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 4px;
  display: inline-block;
  float:left;
}
.song_show_artist_info img {
  width: 150px;
  height: 150px;
}
.song_show_artist_info img:hover{
  cursor: pointer;
}

#track_show_options{
  margin-left: 20px;
  margin-right: -20px;
}
#track_show_options li{
  padding: 5px;
}
#track_show_options a,
#track_show_options button{
  width: 100%;
}
#track_show_lower_half {
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}


#track_description{
  word-break: break-all;
  display: inline-block;
}
