.tracks-index,
.search-results-list{
  position: relative;
  margin-left: 3vw;
}
@media(max-width: 600px){
  .tracks-index,
  .search-results-list{
    width: 90%;
    max-height:24vw;
  }
  .track-item,
  .search-results-list{
    height: 27vw;
  }
  .track-item a.title-link{
    font-size: 16px
  }
  .play-info-and-waveform,
  .user-item .info{
    margin-left:16px;
  }
}

@keyframes tracks-ease-in-left{
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}

@keyframes tracks-ease-in-right{
  from{
    left: 100vw;
  }
  to{
    left: 0;
  }
}

.tracks-ease-in-left{
  animation-name: tracks-ease-in-left;
  animation-duration: 0.5s;
}
.tracks-ease-in-right{
  animation-name: tracks-ease-in-right;
  animation-duration: 0.5s;
}
