div.track-item{
  display: flex;
  margin-left: 40px;
  margin-bottom: 40px;
}
div.track-item .play-button-and-info{
  display: flex;
}
div.track-item .info{
  display: flex;
  flex-direction: column;
}

div.track-item .document-play-button{
  margin-left: 20px;

}
