#show_page_waveform_container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}
#track_banner_left_side{
  display:flex;
  flex-direction: column;
}
.artist_and_play_button{
  display: flex;
}
.document-play-button{
  width: 100px;
  height: 100px;
}
#artist_and_comments{
  display: flex;
}
#artist_and_comments > div:first-child{
  flex-grow: 0;
  flex-shrink: 0;
}
.waveform{
  max-width: 950px;
  min-width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.3);
}
.track_show_content .rule{
  margin-left: 40px;
  margin-right: 40px;
  height: 2px;
  background-color: rgb(15,15,15);
  border-top: 2px solid rgb(35,35,35);
}
.banner-info-text{
  white-space: nowrap;
}
#track_banner_left_side .banner-info-text:last-of-type{
  font-size: 24px;
}
