.user-show .banner-info-text:first-of-type{
  font-size: 24px;
}
.user-show{
  margin: 35px;
  background-color: rgba(100,100,100,0.05);
}
.user-show img:first-of-type{
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.user-show .image-input-container{
  height: 25vw;
  width: 25vw;
  max-height: 200px;
  max-width: 200px;
}


img .user-show-medium:hover{
  cursor: pointer;
}
