.user-show .banner-info-text:first-of-type{
  font-size: 24px;
}
.user-show{
  margin: 35px;
  background-color: rgba(100,100,100,0.05);
}
.user-show img:first-of-type{
  border-radius: 50%;
}


img .user-show-medium:hover{
  cursor: pointer;
}
