// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$iron : #d5d7d9;
$outer_space : #333638;
$alabaster: #F9F9F9;
$athens-grey: #F0F0F1;
$woodsmoke: #0B0B0C;
$azure_radiance: #0087FE;
$east-bae: #3a4f73;
$cod-grey: #191919;
$mine-shaft: #212121;
$coral-red: #FD4041;
$ship-grey: #434347;
$ming: #35617b;
$bahama-blue: #096caa;
$calypso: #2d7387;
$invisible-black: rgba(0,0,0,0);
$false-ming: #4b8aaf;
$false-calypso: #47a4b4;
#root{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.app{
  width: 100%;
  height: 100%;
}
body > svg{
  width: 0px;
  height: 0px;
}
.floater1{
  animation-name: fadeFromTransparent;
  animation-duration: 1.2s;
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  padding: 20px;
  background-color: rgba(0,0,0,0.85);
}
 h1{
  font-size: 65px;
  text-align: center;
}
h2{
 font-size: 45px;
 text-align: center;
}
.static_img_page{
  width: 100%;
  overflow: hidden;
}
.static_img_page > img{
  overflow-x: hidden;
  min-width: 100%;
  filter: url(#blue_filter);
}
#show_page_waveform_container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}
#track_banner_left_side{
  display:flex;
  flex-direction: column;
}
#artist_and_comments{
  display: flex;
}
#artist_and_comments > div:first-child{
  flex-grow: 0;
  flex-shrink: 0;
}
.waveform{
  max-width: 950px;
  min-width: 200px;
  height: 200px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: rgba(255,255,255,0.3);
}
.track_info_text{
  white-space: nowrap;
}
.landing_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fadeFromTransparent;
  animation-duration: 3s;
  position: absolute;
  left: 335px;
  top: 324px;
  width: 380px;
}
.play_bar{
  flex-shrink: 0;
  background-color: #737577;
  height: 100px;
}
.comment_item .profile_thumbnail{
  display: inline-block;
}
.comment_body_and_info {
  margin-left: 20px;
  display: inline-block;
}
.comment_item {
  display: flex;
  margin-top: 10px;
}
.comment_info {
  color: #858585;
  font-size: 14px;
}
.comment_body{

}
#track_show_options{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  height: 30px;
  margin-left: 20px;
}
#track_show_options a {
  padding-top: 5px;
}
#track_show_lower_half {
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.song_show_artist_info{
  text-align: center;
  font-size: 14px;
  width: 150px;
  height: 200px;
  margin: 20px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 4px;
  display: inline-block;
  float:left;
}
.song_show_artist_info img {
  width: 150px;
}
#commentForm{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;
}
#commentForm input{
  margin-left: 0px;
  margin-right: 0px;
}
#description_and_comments{
  margin-left: 8%;
  margin-right: 40px;
  display: inline-block;
}
#track_description{
  display: inline-block;
}
.profile_thumbnail{
  width: 50px;
  height: 50px;
}
ul{
  list-style: none;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  background-color: $cod-grey;
  color: white;
  max-width: 1500px;
  min-width: 700px;
}

.nav_bar {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $iron;
  height: 50px;
}
.nav_link_set{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav_link_set *{
  margin-right: 10px;
}

.top_nav_link{
  line-height:100%;
  box-sizing: border-box;
  padding-top: 20px;
  height: 100%;
  text-align: center;
  width: 80px;
  text-decoration: none;
  color: $woodsmoke;
}
.top_nav_link:hover{
  background-color: white;

  cursor: pointer;
}
.top_nav_link.active{
  background-color: $athens-grey;
  cursor: default;
}


.main_content{
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes fadeFromTransparent {
  0%  {box-shadow:  none;}
  50% {box-shadow: default;}
    from {color: $invisible-black;
    border-left-color: $invisible-black;
    border-right-color: $invisible-black;
    border-top-color: $invisible-black;
    border-bottom-color: $invisible-black;
    background-color: $invisible-black;}
    to {color: default;
      border-left-color: default;
      border-right-color: default;
      border-top-color: default;
      border-bottom-color: default;
    background-color: default;}
}


.session_form {
  left: calc(50% - 100px);
  top: 100px;
  width: 250px;
  border-radius: 8px;
}
.session_form h2{
  font-size: 26px;
  animation: fadeColorFromTransparent;
  animation-duration: 1s;
  text-align: center;
  margin-top: 20px;
}

.session_form span{
  display: block;
  margin-bottom: 5px;
}
form{
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}

form > div{
  position: relative;
}

.blue_button, .logout_button{
    color: white;
  box-sizing: border-box;
  outline: none;
  animation-name: fadeFromTransparent;
  border-radius: 6px;
  background-color: $ming;
  // border-right: 3px solid rgb(0,90,180);
  // border-bottom: 3px solid rgb(0,45,90);
  // border-left: 3px solid rgb(0,90,180);
  // border-top: 3px solid rgb(0,160,240);
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  text-decoration: none;
}
.blue_button:hover{
  background-color: $calypso;
  cursor: pointer;
}

.red_button{
  background-color: red;
  box-sizing: border-box;
  outline: none;
  animation-name: fadeFromTransparent;
  border-radius: 6px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  text-decoration: none;
}



.blue_button:active
.logout_button:active{
    background-color: $ming;
    border-top: 1px solid rgb(10,10,10);
    border-left: 1px solid rgb(30,40,40);
    border-right: 1px solid rgb(30,40,40);
    border-bottom: 1px solid rgb(45,45,45);
}

.logout_button:hover{
  cursor: pointer;
  background-color: $false-calypso;
}
.logout_button{
  background-color: $false-ming;
  font-size: 20px;
}
.landing_button{
  margin-top: 30px;
  font-size: 30px;
  width: 80%;
  border-radius: 8px;
  text-align: center;
}
form input[type="text"],
form input[type="password"],
form textarea{
  outline: none;
  animation-name: fadeFromTransparent;
  animation-duration: 3s;
  border-radius: 4px;
  background-color: rgba(40,40,40,0.7);
  border-top: 2px solid rgb(10,10,10);
  border-left: 3px solid rgb(30,40,40);
  border-right: 3px solid rgb(30,40,40);
  border-bottom: 3px solid rgb(45,45,45);
  color: $iron;
}
form input[type="text"],
form input[type="password"]{
  box-sizing: border-box;
  width: 234px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 5px;
  height: 40px;
}
input.empty{
  color: rgb(140,140,140);
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form textarea:focus{
  background-color: $mine-shaft;
  outline: none;
}
.form_button{
  animation-duration: 1.5s;
  align-self: flex-end;
  width: 102px;
  height: 40px;

}

.errors {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 20px;
  top: 0px;
  left: 240px;
}
.errors > div{
  background-color: rgb(155, 0, 14);
  color: white;
  padding: 10px;
  font-size: 12px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
  white-space: pre;
}

.errors > svg {
  display: inline-block;
  fill: rgb(155, 0, 14);
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.5));
}
.session_submit_buttons{
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

#track_show_img{
  width: 400px;
  height: 400px;
}
.track_show_content{
  width: 100%;
}
.track_banner{
  padding: 35px;
  display: flex;
  justify-content: space-between;
}
.track_banner > div{
  margin-right: 35px;
  flex-grow: 1;
}
.track_banner > div >div:first-of-type{
  display: flex;
  justify-content: space-between;
}
.track_info_text{
  margin: 20px;
}
.track_info_text > a{
  padding: 5px;
  color: black;
  background-color: rgba(255,255,255,0.85);
}

.track_info_text:last-of-type{
  font-size: 24px;
}
.upload_error{
  color: red;
}

#upload_progress{
  align-items: center;
  background-color: #3f3f3f;
  padding: 5px;
  display: flex;
  height: 35px;
  justify-content: space-around;
}
#upload_progress > div:first-child{
  width: 200px;
  font-size: 12px;
}

#upload_progress > div:first-child > a{
  margin-right: 15px;
}

#upload_progress button {
  padding: 2px;
  width: 28px;
  height: 20px;
  font-size: 10px;
}

#progress_bar{
  width: 300px;
  height: 4px;
}

#upload_progress > div:last-child{
  width: 200px;
}
.track_form{
  display: block;
  flex-grow: 1;
  width: 500px;
  height: auto;
}

.track_form > *{
  display: block;
  margin-left: 8px;
  margin-right: 8px;
}
.track_form input[type="text"],
.track_form textarea{
  width: 100%;
}
.track_form input[type="text"]{
  font-size: 20px;
}
.track_form textarea{
  font-size: 16px;
}
.track_form label{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
}
.track_form textarea{
  height: 145px;
}
.track_form input[type="submit"]{
  margin-top: 15px;
}
.floater2{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 35%;
  top: 50px;
}
textarea{
  resize: none;
}
