// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

@keyframes easeInModal{
  from{
    top: -100vh;
  }
  to{
    top: 0;
  }
}

.auth-modal{
  animation-name: easeInModal;
  animation-duration: 0.5s;
  width: 450px;
  padding: 25px;
  box-sizing: border-box;
}
@media(max-width: 700px){
  .auth-modal{
      width: 220px;
  }
}

.auth-modal input{
  width: 100%;
  font-size: 16px;
}
.auth-modal{
  position: relative;
  background-color: black;
  border: none;
}
.auth-modal:focus{
  outline: none;
}
.auth-modal-exit{
  position: relative;
  left: 90%;
  width: 10px;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
}
.auth-modal-exit:hover{
  cursor: pointer;
}
.auth-modal input[type="text"],
.auth-modal input[type="password"],
.auth-modal input[type="text"]:focus,
.auth-modal input[type="password"]:focus{
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid white;
}
.auth-modal form > *{
  display: block;
  height: 40px;
  margin: 1em 0;
  width: 100%;
}
.auth-modal .errors{
  display: flex;
}
